// 基本設定
:root {
  --neon-pink: #ff00ff;
  --neon-yellow: #6fff00;
  --black: #1e1e1e;
  --pure-red: #ff0000;
  --pure-blue: #0059ff;
  --white: #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #6fff00;
  color: #1e1e1e;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  cursor: auto;
}

// ヘッダーの効果
.main-header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background: linear-gradient(45deg, var(--pure-red), var(--black));
    margin-bottom: 0;           /* ナビとの間の隙間をなくす */
    position: relative;         /* z-indexが効くようにする */
    z-index: 1;   
}

h1.glitch {
    font-size: 8vw;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
}

// ナビゲーション
.sticky-nav {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #1e1e1e !important; 
    border-top: 2px solid #ff00ff;
    border-bottom: 2px solid #ff00ff;
    z-index: 9999;
    padding: 10px 0;
    box-sizing: border-box;
}


.sticky-nav ul {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 4;
    gap: 40px;
}

.sticky-nav a {
    color: #1e1e1e;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

// 画像の大きさ
.full-width-banner {
    width: 100%;
    margin: 0; 
    overflow: hidden;
    line-height: 0; // 画像の下にできる謎の隙間を消す
}

.full-width-banner img {
    width: 100%; 
    height: auto; 
    filter: grayscale(30%) contrast(120%); // 少しストリートっぽく
    transition: transform 0.5s;
}

  
// グリッドレイアウト
.container {
  --_column: 1;
  & > --_column: 3;
    padding: 0px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 0px;
    margin-top: 0px;
}

.grid-item {
    padding: 40px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid-item.big { 
grid-column: 1 / 5;
  grid-row: 1 / 1;
}
.grid-item.kawasakithree {
  grid-row: 2 / 2;
}
.grid-item.red { background: #ff3d3d; color: #ffffff; }
.grid-item.yellow { background: #009900; color: #ffffff; }
.grid-item.blue { background: #2d2dff; color: #ffffff; }
.grid-item.black { background: #1e1e1e; color: #ffffff; }

.grid-item h3 {
    font-size: 2.5rem;
    margin: 0 0 10px 0;
    font-family: 'Noto Sans JP', sans-serif;
}

// スクロールアニメーション
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
} 

// スマホ対応
@media (max-width: 768px) {
    .content-grid { grid-template-columns: 1fr; }
    .grid-item.large { grid-column: span 1; }
    h1.glitch { font-size: 15vw; }
} 

@media (max-width: 480px) {
    .content-grid { grid-template-columns: 1fr; }
    .grid-item.large { grid-column: span 1; }
    h1.glitch { font-size: 15vw; }
} 
